[ ca ]
default_ca = CA_own
[ CA_own ]
dir = /root/pki/db
certs = /root/pki/db
new_certs_dir = /root/pki/db/ca.db.certs
database = /root/pki/db/ca.db.index
serial = /root/pki/db/ca.db.serial
RANDFILE = /root/pki/db/ca.db.rand
certificate = /root/pki/certificats/ca.crt
private_key = /root/pki/certificats/ca.key
default_days = 3000
default_crl_days = 30
default_md=sha256
preserve = no
policy = policy_anything
[ policy_anything ]
countryName = optional
stateOrProvinceName = optional
localityName = optional
organizationName = optional
organizationalUnitName = optional
commonName = supplied
emailAddress = optional